@import "tailwindcss";
@plugin "@tailwindcss/typography";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 15s linear infinite;
}

body {
  font-family: 'Outfit', sans-serif;
}